.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod
.env
/lucitgpt-backend.git
/lucitgpt-backend.git.bfg-report

# SSL Certificates
localhost-key.pem
localhost.pem
/venv