python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
python-dotenv[cli]
fastapi
uvicorn
sqlalchemy
psycopg2-binary
faker
sentry-sdk
pytest
pytest-asyncio
pytest-cov
httpx
requests
elasticsearch
openai
alembic
python-multipart
pytest-mock
cachetools
fuzzywuzzy
